Produtos/Planilha com Impostos.xlsm
Modelo/Venda.csv
Graficos/previsao_30_dias_sku_107645.png
Graficos/previsao_30_dias_sku_103975.png
Graficos/previsao_30_dias_sku_86062.png
Graficos/previsao_30_dias_sku_85414.png
Graficos/previsao_30_dias_sku_67020.png
Graficos/previsao_30_dias_sku_67019.png
Graficos/previsao_30_dias_sku_59216.png
Graficos/previsao_30_dias_sku_29213.png
Graficos/previsao_30_dias_sku_29207.png
Graficos/previsao_30_dias_sku_15347.png
Graficos/previsao_30_dias_sku_3913.png
Graficos/previsao_30_dias_sku_2960.png

# Ignorar todos os arquivos dentro da pasta Modelos
Modelos/*

# Ignorar todos os arquivos dentro da pasta Resultados
Resultados/*